/* April 2019 colour variables */

:root {
    --tri-black: #1f1e21;
    --tri-green: #1ea02d; /* #5ea03b; */
    --tri-white: #ecf1f4;
    --tri-red: #c1001f;
    --tri-blue: #4a90e2; /* :TODO: Sunday Rides add swatch to design guide */
    --tri-dark: #3c4645;
    --tri-grey: #7d7d7d; /* :TODO: not used? */
}

/*
Tricolor stripe - not used in April 2019

https://colorzilla.com/gradient-editor/
W3C, IE10+, Fx16+, Chrome26+, Opera12+, Safari7+
*/
/*
background: linear-gradient(
                to bottom,
                var(--tri-green) 0%,
                var(--tri-green) 33%,
                white 33%,
                white 67%,
                var(--tri-red) 67%,
                var(--tri-red) 100%
            ) no-repeat;
background-size: 100% 9px;
*/

/* Colour classes */

.b-black {
    background-color: var(--tri-black);
}

.b-green {
    background-color: var(--tri-green);
}

.b-light {
    background-color: var(--tri-white);
}

.b-red {
    background-color: var(--tri-red);
}

.b-blue {
    background-color: var(--tri-blue);
}

/* :TODO: remove unused code (double check this one) */
.b-dark {
    background-color: var(--tri-dark);
}


/* Base colours */
html,
body {
    color: var(--tri-white);
    background: var(--tri-black);
}
a,
a:hover,
a:focus,
a:active,
.wp-block-file__button {
    color: var(--tri-green);
    text-decoration: none;
}

/* Main content */
/* :TODO: theme other page types */
#page-wrapper,
#search-wrapper,
#archive-wrapper,
#error-404-wrapper {
    color: var(--tri-black);
    background: white;
}
    
/* Main content info panel (Sunday Rides) */
.page-template-Rides h1,
.entry-content .panel {
    background: var(--tri-white);
}

/* Footer colours */

#wrapper-footer {
    color: var(--tri-white);
    background: var(--tri-dark);
}

#wrapper-footer .organisations ul {
    color: var(--tri-black);
    background: white;
}

#wrapper-footer .copyright {
    background: var(--tri-black);
}

.site-info a {
    color: var(--tri-white);
}
.site-info li > a:hover,
.site-info li > a:focus,
.site-info li > a:active,
.site-info h3 > a:hover,
.site-info h3 > a:focus,
.site-info h3 > a:active {
    color: var(--tri-white);
    border-bottom: 2px solid;
}


/* Button colours */
.btn,
.btn-success,
.wp-block-file .wp-block-file__button {
    padding: 3px 10px 3px 10px; /* .tyle .tag */
    font: var(--font-p-bold);
    border: 0 !important; /* avoid link underline */
}
.btn,
.wp-block-file .wp-block-file__button {
    color: var(--tri-white);
    background-color: var(--tri-red);
}
.btn:hover,
.btn:focus,
.btn:active,
.wp-block-file .wp-block-file__button:hover,
.wp-block-file .wp-block-file__button:focus,
.wp-block-file .wp-block-file__button:active {
    color: var(--tri-white);
    background-color: var(--tri-green);
}

.btn-success {
    color: var(--tri-white);
    background-color: var(--tri-green);
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    color: var(--tri-white);
    background-color: var(--tri-green);
}

/* Buttons on green sidebar */
.sidebar > div:not([class]) .btn:hover,
.sidebar .btn:focus,
.sidebar .btn:active {
    color: var(--tri-white);
    background-color: var(--tri-red); /* avoid green on green */
}


/* Clicked button: */
.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active,
.show > .btn.dropdown-toggle {
    color: var(--tri-white);
    background-color: var(--tri-green);
}

/* Large buttons (Homepage Carousel) */
.btn-lg {
    padding: 8px 20px 8px 20px; /* half gutter adjusted for line-height */
    font-size: 18px;
    line-height: 24px;
}
.btn-lg + .btn-lg {
    margin-left: 20px; /* gutter */
}



/* Carousel colours */
/* Carousel caption */
.carousel-caption {
    color: var(--tri-black);
    background-color: var(--tri-white);
    background-color: #ecf1f4c0; /* --tri-white with alpha channel */
}

/* Carousel tag */
.card-tag {
    color: var(--tri-white);
    background-color: var(--tri-black);
}


/* Tile colours */

.tyle {
    color: var(--tri-white);
    background-color: var(--tri-black);
}

.tyle:hover {
    color: var(--tri-white);
    text-decoration: none;
}



/* Sidebar colours */

.sidebar > div {
    color: var(--tri-white);
    background: var(--tri-green);
}
.sidebar .gallery,
.sidebar .events {
    background: var(--tri-black);
}



/* April 2019 font variables */
/* https://fonts.google.com/specimen/Karla?selection.family=Karla:700|Montserrat:400,600 */

:root {
    --font-heading: 'Karla', sans-serif;
    --font-body: 'Montserrat', sans-serif;
    --font-h1: 700 40px/40px var(--font-heading); /* bold */
    --font-h2: 700 34px/34px var(--font-heading);
    --font-h3: 700 26px/36px var(--font-heading);
    --font-h4: 700 24px/28px var(--font-heading);
    --font-h5: 700 20px/28px var(--font-heading);
    --font-h6: 700 18px/24px var(--font-heading);
    --font-p: 400 14px/24px var(--font-body);
    --font-p-bold: 600 14px/24px var(--font-body);
    --font-p-highlight: 400 18px/24px var(--font-body); /* normal */
    --font-link: 600 14px/24px var(--font-body); /* semi-bold */
}


/*
Apply fonts:

Base
Header
Carousel
Tile
Youth Tile
Sidebar
Article
Footer
*/

/* Base font */
html,
body {
    font: var(--font-p);
}
b,
strong,
th {
    font: var(--font-p-bold);
}

/* Header search box */
/* Header search button (icon) */

/* Header nav */
.nav-link {
    font: var(--font-p-highlight);
    font-weight: 600;
}

/* Carousel tag */
.card-tag {
    font: var(--font-h6);
}
/* Carousel title */
.slide-text {
    font: var(--font-h1);
}
/* Carousel description */
.card-text {
    font: var(--font-p-highlight);
}


/* Home mission statement */
.disclaimer {
    margin: 20px auto;
    max-width: 60em;
    font: var(--font-h3);
    text-align: center;
}
/* Home tile tag */
.tyle .tag {
    font: var(--font-h6);
}
/* Home tile title */
.tyle h2 {
    font: var(--font-h4);
    hyphens: auto; /* Volunteering in Homepage 1/4 tile */
}
/* Home tile description */
/* Inherits body text */
/* Home tile event item */
.events h3 {
    font: var(--font-h6);
}


/* Breadcrumb */
.breadcrumbs {
    font: var(--font-link);
}


/* Article content title */
main h1 {
    font: var(--font-h2);
}

/* Article content headings */
.entry-content h2 {
    font: var(--font-h5);
}
.entry-content h3,
.entry-content th,
.entry-content h4 {
    font: var(--font-p);
}
.entry-content h3,
.entry-content th {
    font-weight: 600;
}
.entry-content h4 {
    font-style: italic;
}

/* Main content link and sidebar link */
.entry-content a {
    padding-top: 5px; /* adjusted for line-height */
    font: var(--font-link);
    font-size: inherit;
    border-bottom: 1px solid #a7d161; /* #85bc4a; */
}
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active,
.entry-content a:hover,
.entry-content a:focus,
.entry-content a:active,
.events a:hover,
.events a:focus,
.events a:active,
.sidebar a:hover,
.sidebar a:focus,
.sidebar a:active {
    border-bottom: 2px solid;
}
.sidebar .justified-gallery a {
    border-bottom: 0; /* don't underline photos */
}


/* Sidebar headings */
.sidebar h2,
.sidebar h3 {
    font: var(--font-h4);
}
/* Sidebar event item */
.sidebar h4 {
    font: var(--font-h6);
}


/* Footer heading */
#wrapper-footer h3 {
    font: var(--font-h4);
}
/* Footer link */
.site-info a {
    font: var(--font-p-highlight);
    font-weight: 600;
}

/* End: Apply font */



/* WRAPPERS & COLUMN SYSTEM */

.wrapper {
    padding: 0;
}

.notFull {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px; /* main content 800px */
}
#wrapper-footer .notFull {
    max-width: 1210px; /* :TODO: refactor layout */
}

.full_dark {
    width: 100%;
    background-color: var(--tri-black);
}

.full_dark>* {
    margin: 0 auto;
    max-width: 1210px;
}

/* Special layout on big tablets and wider */

@media (min-width: 768px) {
    
    /* 20px gutters on big tablets and wider */
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
    .row {
        margin-left: -10px;
        margin-right: -10px;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    /* Landing pages with main content above tiles (such as Competitive) */
    body.page-template-Full-Width-Zoom .entry-content {
        width: 65%; /* limit content to two thirds */
        width: calc(67% - 10px); /* accurately stop short of gutter */
    }
    
}

/* End WRAPPERS & COLUMN SYSTEM */



/* HEADER */

#wrapper-navbar {
    position: relative;
    z-index: 1; /* cast shadow onto later elements */
    box-shadow: 0 0 10px 0 black; /* will be cast onto --tri-black */
}

#page-header {
    display: grid;
    grid-template-areas: "logo" "search" "nav";
}

#page-header > .logo {
    padding: 10px;
    grid-area: logo;
    align-self: center;
    justify-self: center;
}
#page-header > .logo > img {
    display: block;
    margin: 0 auto; /* central on mobile */
}

#page-header > .search-area {
    grid-area: search;
    align-self: center;
    /* justify-self: end; */
}

#page-header>nav {
    grid-area: nav;
    justify-self: start;
}

@media (min-width: 768px) {
    #page-header {
        grid-template-areas: "logo search" "logo nav";
        grid-template-columns: 1fr 4fr;
    }
    #page-header > .logo {
        padding: 20px 0;
        grid-area: logo;
        align-self: end;
    }
    #page-header > .search-area {
        grid-area: search;
        align-self: center;
        justify-self: end;
    }
    #page-header > nav {
        grid-area: nav;
        justify-self: center;
    }
}

@media (min-width: 1200px) {
    #page-header {
        grid-template-areas: "logo search" "logo nav";
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 3fr 2fr;
    }
    #page-header > .logo {
        padding: 20px 0;
        grid-area: logo;
        align-self: end;
    }
    #page-header > .search-area {
        display: block;
        grid-area: search;
        align-self: center;
        justify-self: end;
    }
    #page-header > nav {
        grid-area: nav;
        justify-self: center;
    }
}


/* MAIN NAVIGATION */

.navbar {
    padding: 0;
}

.navbar-custom .navbar-nav .nav-link {
    padding: 10px;
    color: var(--tri-white);
}


/* Navbar active or hovered links */

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item.current-page-ancestor .nav-link,
.navbar-custom .nav-item .nav-link:focus,
.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link:active {
    color: var(--tri-green);
}

.navbar-custom .navbar-nav .dropdown-menu .nav-link {
    color: var(--tri-white) !important; /* :TODO: theme.css too much !important */
    font-weight: 600; /* theme.css */
}
.navbar-dark .navbar-nav .dropdown-menu .nav-link:hover,
.navbar-dark .navbar-nav .dropdown-menu .nav-link:focus {
    color: var(--tri-black) !important; /* :TODO: theme.css too much !important */
    background: transparent;
}
.navbar-custom .navbar-nav .dropdown-menu .nav-link.active,
.navbar-custom .navbar-nav .dropdown-menu .nav-link:active {
    color: var(--tri-black) !important; /* :TODO: theme.css too much !important */
}

/* Navbar dropdown menu */

.dropdown-menu {
    margin-top: 0;
    min-width: 200px;
    padding: 13px 0 16px 0; /* adjust for line-height */
    background-color: var(--tri-green);
}

@media (min-width: 768px) {
    .dropdown-menu {
        margin-left: -0.855em; /* offset down arrow caret */
        left: 50%;
        right: auto;
        text-align: center;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .dropdown-menu:before {
        content: '';
        position: absolute;
        top: -7px;
        left: 50%;
        transform: translate(-50%, 0);
        border-right: 7px solid transparent;
        border-bottom: 7px solid var(--tri-green);
        border-left: 7px solid transparent;
    }
}


/* MINOR NAVIGATION */

#navmenu.events-categories ul,
#navmenu.events ul,
.nav-breadcrumbs ul {
    list-style-type: none;
    list-style-image: none;
}

#navmenu.events-categories ul li,
#navmenu.events ul li,
.nav-breadcrumbs ul li {
    display: inline;
}


/* Breadcrumb nav */
.breadcrumbs {
    padding: 20px 0 16px 0; /* adjusted for line-height */
}



/* Carousel */

.carousel-item {
    max-height: 540px; /* half height of Full HD 1080p */
}

/* Carousel caption */

.carousel-caption {
    padding: 30px 40px 30px 40px; /* double gutters */
    left: 8.333%; /* 1/12 columns */
    bottom: 40px; /* double gutter */
    width: 58.337%; /* 8/12 columns */
    width: calc(58.334% - 7px ); /* accurately 8/12 columns */
    text-align: left;
    border: 0;
    border-radius: 0;
}

.card-body {
    padding: 0;
}

.card-tag {
    display: inline-block;
    margin: 0;
    padding: 3px 10px 3px 10px; /* adjusted for line-height */
    background-color: var(--tri-black);
}

.slide-text {
    margin-top: 19px; /* adjust for line-height */
    margin-bottom: 0;
}

.card-text {
    margin: 16px 0 18px 0; /* adjust for line-height */
}

/* Carousel previous and next links */

.carousel-control-prev,
.carousel-control-next {
    width: 4.167%; /* half of a 12-column grid slot */
    min-width: 4em;
    opacity: 1 !important; /* theme.css */
}

.carousel-control-prev span,
.carousel-control-next span {
    opacity: 0.8;
    transition: color 0.2s ease-in, opacity 0.2s ease-in;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 100%;
    height: 2em;
    font: var(--font-h1);
    font-size: 72px;
    line-height: 2;
    color: var(--tri-white);
    background: var(--tri-black);
}
.carousel-control-prev:hover span,
.carousel-control-prev:focus span,
.carousel-control-next:hover span,
.carousel-control-next:focus span {
    color: var(--tri-green);
    opacity: 1;
}
.carousel-control-prev-icon:after {
    content: "⟨"; /* MY CHARACTER CODEPOINTS ARE OVER 9000! */
}
.carousel-control-next-icon:after {
    content: "⟩"; /* MY CHARACTER CODEPOINTS ARE OVER 9000! */
}

/* Carousel slide indicator pagination thing */

.carousel-indicators {
}



/*
Minor navigation menus
Event tag navigation menu
Pagination menu
*/

.pagination {
    justify-content: center; /* theme.css .pagination */
    margin: 20px auto 20px auto;
    padding: 0;
}

.entry-content .page-link {
    margin-left: 0; /* theme.css */
    padding: 8px 20px 8px 20px; /* .tag */
    font: var(--font-link);
    color: var(--tri-black);
    background: var(--tri-white);
    border: 0;
}

.entry-content .page-link:hover,
.entry-content .page-link:focus,
.entry-content .page-link:active {
    color: var(--tri-green);
    border: 0;
    box-shadow: none;
}

.page-item.active .page-link {
    cursor: default;
    color: var(--tri-white);
    background: var(--tri-green);
}



/*  NEW GRID */


/* New tiles on mobile */

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(300px, 350px);
    grid-gap: 20px;
    -ms-flex-pack: distribute;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Landscape mobile tiles */

@media (min-width: 576px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    /* Homepage first row of 3 */
    .disclaimer + .grid .tyle:last-child {
        grid-column: span 2; /* grow to fill 2 columns */
    }
    /* Homepage events row */
    #front-tiles .tyle.events {
        grid-column: span 2; /* grow to fill 2 columns */
    }
}

/* Portrait tablet tiles and wider */
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    }
    /* Homepage first row of 3 */
    .disclaimer + .grid .tyle:last-child {
        grid-column: 3; /* single column, third position */
    }
    
    /* Homepage events row */
    .grid + .grid + .grid {
        grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    }
    
    /* Youth uses 2 tiles in main content with sidebar */
    body.page-template-default .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    /* Most templates can have 2 tiles after main content */
    .entry-content + .grid {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 40px;
        border-top: 4px solid var(--tri-green);
    }
}


/* Tiles across devices */

.tyle {
    position: relative; /* layout context for .tag */
    display: flex;
    flex-direction: column;
    justify-content: end; /* push .caption to bottom */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.tyle .caption,
.tyle .tag {
    color: inherit;
    background-color: inherit;
}

.tyle .tag {
    position: absolute;
    top: 15px;
    left: 10px;
    padding: 3px 10px 3px 10px; /* adjusted for line-height */
}

.tyle .caption {
    margin-top: auto; /* push caption to bottom */
    padding: 13px 20px 16px 20px; /* adjusted for line-height */
}

.tyle h2,
.tyle p {
    margin: 0;
}

/* Text tile (homepage bottom row) */
/* Text tiles don't have style attribute - might be used elsewhere */
.tyle:not([style]) {
    justify-content: normal;
    background: var(--tri-green);
}
.tyle:not([style]) .tag {
    display: inline-block;
    position: static; /* normal position */
    margin: 0 0 20px -10px;
    background: var(--tri-black);
}
.tyle:not([style]) .caption {
    margin-top: 0;
}

/* Homepage bottom row, events tile */
.tyle.events {
    padding: 13px 20px 16px 20px; /* adjusted for line-height */
    background-color: var(--tri-black);
}

/* Home grid hover colours */
.tyle {
    transition: background 0.2s ease-in;
}
.tyle:hover,
.tyle:focus,
.tyle:active {
    color: var(--tri-white);
    background-color: var(--tri-green);
}


/* Home middle tiles with portrait image */

#rect-tiles.grid {
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    column-gap: 20px;
    margin: 20px auto;
}

.tyle-rectangle {
    flex-direction: row; /* horizontal internal layout */
    background-size: 50% auto; /* 1/2 tile with 1/4 tile image */
    background-position: left top;
}

.tyle-rectangle .caption {
    width: calc(50% + 10px); /* half the panel and remaining half gutter */
    margin-top: 0;
    margin-left: auto; /* push caption to right half */
}


/* :TODO: Text tiles detail after launch */


/* Homepage bottom row, events tile */

#front-tiles .tyle.events {
    overflow-y: auto; /* full tile at max size; scroll at smaller sizes */
    /* No colour change on :hover */
    background: var(--tri-black);
}

#front-tiles .tyle.events h2 {
    padding-bottom: 20px;
}

/* All Events button */
#front-tiles .tyle.events > p {
    top: 20px;
    right: 20px;
    position: absolute;
}



/* Event lists in tiles and sidebar */

.events > div {
    padding-bottom: 20px;
}
.events > div > div:first-child {
    /* wrapper for date */
    flex-shrink: 0; /* do not let a long description squash the date */
    min-width: 11.75%; /* col-md-1 inside col-md-8 */
    width: 23.5%; /* col-md-2 inside col-md-8 */
    background: var(--tri-white);
}
.events .month,
.events .day {
    margin: 0; /* theme.css */
    padding: 3px 10px 3px 10px; /* .tyle .tag */
    text-align: center;
}
.events .month {
    font: var(--font-p-bold);
    color: var(--tri-white);
    background: var(--tri-green);
}
.events .day {
    font: var(--font-h5);
    color: var(--tri-black);
}

/* Event details */
.events > div > div + div {
    padding-left: 20px; /* gutter */
}
.events > div > div + div h3,
.events > div > div + div h4,
.events > div > div + div p {
    margin: 0;
    padding-bottom: 10px;
}
.events > div > div + div p:last-child {
    padding-bottom: 0;
}


/* MISCELLANEOUS */

/* Font Awesome in links */
a .fa {
    margin-right: 0.25em;
}

.mw50 {
    min-width: 80px;
}

/* Search box in content */
/* Used on the 404 page */
#searchform {
    width: 100%;
}



/* :TODO: remove obsolete code even if it was great */
/* Regular routes modal */

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}
/* End :TODO: remove obsolete code even if it was great */



/* MAIN CONTENT */


main,
.entry-content {
    padding-bottom: 20px;
}

/* Article content title */
main h1 {
    margin: 0 0 10px 0;
    padding-top: 20px;
    border-top: 4px solid var(--tri-green); /* below breadcrumb or image */
}


/* Main content table */

main table {
    width: 100%;
}

main table th,
main table td {
    vertical-align: top;
    padding: 10px 0 10px 20px; /* 1 gutter between text */
}

main table th:last-child,
main table td:last-child {
    padding-right: 20px; /* final gutter on right side */
}

/* Stripey Tables */
.wp-block-table.is-style-stripes {
    border-bottom: 0;
}
.wp-block-table.is-style-stripes tr:nth-child(odd) {
    background-color: var(--tri-white);
}



/* Main content info panel (Sunday Rides) */
.page-template-Rides h1 {
    margin-bottom: 0; /* connect background with .panel */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0.5rem; /* :TODO: main content spacing */
}
.entry-content .panel {
    margin-bottom: 18px; /* anticipate line-height of next sibling */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.entry-content .panel p:last-child,
.entry-content .panel ul:last-child,
.entry-content .panel ol:last-child {
    margin-bottom: 0;
}


/* Accordion widget */
#heading1,
#heading2,
#heading3,
#heading4,
#heading5,
#heading6,
#heading7,
#heading8,
#heading9,
#heading10 {
    cursor: pointer;
}

/* Accordion - regular rides */

#accordion th,
#accordion td {
    width: 20%; /* 5 columns */
    font-weight: 700;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    border-top: 1px solid white;
}
#accordion td:first-child {
    width: 5%; /* remainder */
}
#accordion td[colspan] {
    padding-top: 0;
    padding-bottom: 16px; /* account for line-height */
    font: var(--font-p);
    border-top: 0;
}

#accordion tbody + tbody tr:first-child th,
#accordion tbody + tbody tr:first-child td {
    border-top: 20px solid white; /* gutter between table sections */
}

#accordion [data-toggle="collapse"] .fa:after {
    content: '\f077';
    /* chevron-up */
    content: '˄';
}

#accordion [data-toggle="collapse"].collapsed .fa:after {
    content: '\f078';
    /* chevron-down */
    content: '˅';
}

/*
Ride grades use ski run colours
The grades are set in the HTML so the accordion could be editable.
*/
/* Grey run (default) */
#accordion tbody {
    color: var(--tri-white);
    background: var(--tri-dark);
}


/* SIDEBAR */


.sidebar {
    margin-top: 36px; /* 20px above and 16px below breadcrumb */
    padding-top: 1.714em; /* breadcrumb line-height */
}

.sidebar > div {
    margin: 0 0 20px 0;
    padding: 0 20px;
}

.sidebar h2,
.sidebar h3 {
    margin: 0;
    padding: 16px 0 10px 0; /* adjusted for line-height */
}

.sidebar p {
    margin: 0;
    padding-bottom: 12px; /* half measure of line-height */
}
.sidebar p:last-child {
    padding-bottom: 18px; /* adjusted for line-height */
}

/* Sidebar weather tile */

.sidebar #weather hr {
    display: none;
}
.sidebar #weather h3 {
    padding: 0 0 18px 0; /* adjust for line-height */
    font: var(--font-p-highlight);
}

/* See also: event lists */



/* FOOTER */


#wrapper-footer {
    overflow: hidden; /* Social Flickr gallery makes 20px gutters in JS */
}

/* Social */

.site-info .row:first-child h3 {
    margin: 0;
    padding: 36px 0 16px 0; /* double gutter, adjusted for line-height */
}

.site-info ul,
.site-info li {
    display: block;
    margin: 0;
    padding: 0;
}
.site-info li {
    padding-bottom: 20px;
}

/* Social links with icons */
.site-info h3 > a,
.site-info li > a {
    margin-left: 30px;
    position: relative;
    border-bottom: 2px solid transparent; /* placeholder for hover effect */
}
.site-info a > i {
    display: block;
    top: 0;
    left: -30px;
    width: 30px;
    position: absolute;
    margin-right: 0;
}


/* Flickr justified gallery */

/*
Sizes are positioned in real-time using JS and style attributes.
Settings add the 20px gutters but also create unwanted outer gutters.
I expand the container so the photos are sized as if there are no outer gutters.
I move the container so the outer gutters sit on the Bootstrap gutters.
*/
.justified-gallery {
    position: relative; /* layout context for reliable negative margins */
    margin: -20px 0 0 -20px; /* move the outer gallery outer gutters onto the actual footer gutters */
    width: calc(100% + 40px); /* size the content as if it had no outer gallery gutters */
}


/* Footer organisations */
.organisations > div {
    padding-top: 20px; /* gutter */
}

.organisations ul {
    position: relative;
    z-index: 1; /* clickable logos .copyright */
    margin: 0 0 -50px 0; /* bring next row halfway up this one */
    padding: 20px;
    text-align: center;
}

.organisations li {
    display: inline;
    margin: 0;
    padding: 0 20px 0 0; /* gutter */
}
.organisations li:last-child {
    padding-right: 0;
}

.organisations img {
    max-height: 60px;
}

/* Footer copyright */
.copyright > div {
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px; /* 40px (double gutter) + 50px (.organisations) */
    padding-bottom: 40px;
    text-align: center;
}

.copyright h3 {
    margin-bottom: 20px; /* gutter */
}

.copyright p {
    margin-top: 20px; /* gutter */
}

/* Footer sponsor logos */
/* :TODO: Split the logos and link to: /about/sponsors/ */

.copyright p:last-child {
    margin-bottom: 0; /* use padding of column */
}



/* DO NOT EDIT BELOW */


/*
* Use existing Bootstrap 4 classes and
* variables to extend - override CF7 style
*
* Useful CF7 classes:
* .wpcf7 the wrapper element
* .wpcf7-form
* .wpcf7-form-control
* .wpcf7-text
* .wpcf7-email
* .wpcf7-textarea
* .wpcf7-submit
*/

.wpcf7 {
    max-width: 600px;
    margin: 0 auto !important;
}

.wpcf7 .wpcf7-form label {
    width: 100%;
}

.wpcf7 .wpcf7-not-valid-tip {
    color: var(--tri-red);
}

.wpcf7 .wpcf7-validation-errors {
    color: var(--tri-red);
    border: 1px solid var(--tri-white);
}
