/* April 2019 colour variables */

:root {
    --tri-green: #5ea03b; /* #1ea02d; */
    --tri-red: #c1001f;
    --tri-black: #1f1e21;
    --tri-dark: #3c4645;
    --tri-grey: #7d7d7d;
    --tri-white: #ecf1f4;
    --tri-blue: #4a90e2; /* :TODO: Sunday Rides add swatch to design guide */
}

/*
Tricolor stripe - not used in April 2019

https://colorzilla.com/gradient-editor/
W3C, IE10+, Fx16+, Chrome26+, Opera12+, Safari7+
*/
/*
background: linear-gradient(to bottom, var(--tri-green) 0%,var(--tri-green) 33%,white 33%,white 67%,var(--tri-red) 67%,var(--tri-red) 100%) no-repeat;
background-size: 100% 9px;
*/

/* Colour classes */

.b-dark {
    background-color: var(--tri-dark);
}

.t-dark {
    color: var(--tri-dark);
}

.b-blue {
    background-color: var(--tri-blue);
}

.t-blue {
    color: var(--tri-blue);
}

.b-green {
    background-color: var(--tri-green);
}

.b-red {
    background-color: var(--tri-red);
}

.b-black {
    background-color: var(--tri-black);
}

.b-light {
    background-color: var(--tri-white);
}

/* :TODO: only use .b-* colour classes as .bg-* classes use !important */
.bg-dark,
.bg-secondary {
    background-color: var(--tri-dark) !important;
}
.bg-light {
    background-color: var(--tri-white) !important;
}


/* Base colours */
a,
a:hover,
a:active {
    color: var(--tri-green);
}
#wrapper-footer {
    color: var(--tri-white);
    background: var(--tri-dark);
}

/* Button colours :TODO: */
.btn-primary,
.btn-danger,
.btn-success {
    font-weight: 600;
    border: 0;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-danger,
.btn-danger:hover,
.btn-danger:active {
    color: var(--tri-white);
    background-color: var(--tri-red);
}
.btn-success {
    color: var(--tri-white);
    background-color: var(--tri-green);
}
.btn-success:hover,
.btn-success:active {
    color: var(--tri-white);
    background-color: var(--tri-green);
}

/* Carousel colours */

.card {
    background-color: rgba(245, 245, 245, 0.7);
    color: var(--tri-dark);
}


/* Tile colours */

.tyle {
    color: var(--tri-white);
}

.tyle:hover {
    color: var(--tri-white);
    text-decoration: none;
}


/* Sidebar colours */

.sidebar > div {
    color: var(--tri-white);
    background: var(--tri-green);
}
.sidebar .gallery,
.sidebar .events {
    background: var(--tri-black);
}


/* Colour classes */

.p-link {
    color: var(--tri-green);
}

.p-link-dark {
    color: var(--tri-dark);
}

.p-link-dark:hover {
    color: var(--tri-black);
}

.p-link:hover {
    color: var(--tri-blue);
}

.w-link {
    color: var(--tri-white);
    text-decoration: underline;
}

.w-link:hover {
    color: var(--tri-green);
}


/* April 2019 font variables */
/* https://fonts.google.com/specimen/Karla?selection.family=Karla:700|Montserrat:400,600 */

:root {
    --font-heading: 'Karla', sans-serif;
    --font-body: 'Montserrat', sans-serif;
    --font-h1: 700 40px/40px var(--font-heading); /* bold */
    --font-h2: 700 34px/34px var(--font-heading);
    --font-h3: 700 26px/36px var(--font-heading);
    --font-h4: 700 24px/28px var(--font-heading);
    --font-h5: 700 20px/28px var(--font-heading);
    --font-h6: 700 18px/24px var(--font-heading);
    --font-p: 400 14px/24px var(--font-body);
    --font-p-bold: 600 14px/24px var(--font-body);
    --font-p-highlight: 400 18px/24px var(--font-body); /* normal */
    --font-link: 600 14px/24px var(--font-body); /* semi-bold */
}


/*
Apply fonts:

Base
Header
Carousel
Tile
Youth Tile
Sidebar
Article
Footer
*/

/* Base font */
html,
body {
    font: var(--font-p);
    color: var(--tri-black);
    background: white;
}
b,
strong,
th {
    font: var(--font-p-bold);
}

/* Header search box */
/* Header search button (icon) */
/* Header nav */
.nav-link {
    font: var(--font-h6);
}
/* Header nav menu */

/* Carousel tag */
.carousel-item h5 {
    font: var(--font-h6);
}
/* Carousel title */
.slide-text {
    font: var(--font-h1);
}
/* Carousel description */
.card-text {
    font: var(--font-p-highlight);
}
/* Home mission statement */
.disclaimer p {
    margin: 20px auto;
    max-width: 32em;
    font: var(--font-h3);
    text-align: center;
}
/* Home tile tag */
.tyle .tag {
    font: var(--font-h6);
}
/* Home tile title */
.tyle h2,
.tyle h5+h5 {
    font: var(--font-h4);
}
/* Home tile description */
.tyle p {
    font: var(--font-p);
}
/* Home tile event item */
/* :TODO: match HTML with sidebar event item */
.tyle .border-bottom h5 {
    font: var(--font-h6);
}

/* Youth tile tag */
/* :TODO: Tile content HTML should match home tiles */
.tyle span {
    font: var(--font-h6);
}
/* Youth tile title */
/* :TODO: Tile content HTML should match home tiles */
.tyle div+div h5 {
    font: var(--font-h4);
}


/* Breadcrumb */
.breadcrumbs {
    /* base style */
}
.breadcrumbs a {
    font: var(--font-link);
}


/* Article content title */
main h1 {
    font: var(--font-h2);
}

/* Article content headings */
main .entry-content h2 {
    font: var(--font-h5);
}
main .entry-content h3,
main .entry-content th,
main .entry-content h4 {
    font: var(--font-p);
}
main .entry-content h3,
main .entry-content th {
    font-weight: 600;
}
main .entry-content h4 {
    font-style: italic;
}

/* Main content link */
/* :TODO: Article tiles should have a separate wrapper, after the content */
main .entry-content a {
    padding-top: 5px; /* adjusted for line-height */
    font: var(--font-link);
    border-bottom: 1px solid #a7d161; /* #85bc4a; */
}
main .entry-content a:hover,
main .entry-content a:focus,
main .entry-content a:active {
    text-decoration: none;
    border-bottom: 2px solid;
}


/* Article tiles after content */
/* :TODO: Tile content HTML should match home tiles */
main .tile-text h3 {
    font: var(--font-h4);
}

/* Pagination after content in Events */
.pagination {
    justify-content: center;
}


/* Sidebar headings */
/* :TODO: use a class for selecting the sidebar */
main .sidebar h3 {
    font: var(--font-h4);
}
/* Sidebar event item */
main .sidebar h5 {
    font: var(--font-h6);
}


/* Footer heading */
/* :TODO: use heading element for Flickr and Strava and Sponsor */
footer h3,
footer .col-md-5 > p:first-child span,
footer .mt-5 p {
    font: var(--font-h5);
}
/* Footer link */
.site-info a {
    font: var(--font-link);
}

/* End: Apply font */



/* WRAPPERS & COLUMN SYSTEM */

.wrapper {
    padding: 0;
}

.notFull {
    max-width: 1200px;
}

.full_dark {
    width: 100%;
    background-color: var(--tri-black);
}

.full_dark>* {
    margin: 0 auto;
    max-width: 1200px;
}

/* Special layout on big tablets and wider */

@media (min-width: 768px) {
    
    /* 20px gutters on big tablets and wider */
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
    .row {
        margin-left: -10px;
        margin-right: -10px;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    /* Landing pages with text above tiles such as Competitive */
    body.page-template-Full-Width-Zoom .entry-content {
        width: 65%; /* limit content to two thirds */
        width: calc(67% - 10px); /* accurately stop short of gutter */
    }
    
}

/* End WRAPPERS & COLUMN SYSTEM */



/* HEADER */

#wrapper-navbar {
    position: relative;
    z-index: 1; /* cast shadow onto later elements */
    box-shadow: 0 0 10px 0 black; /* will be cast onto --tri-black */
}

#page-header {
    display: grid;
    grid-template-areas: "logo" "nav";
}

#page-header>.logo {
    padding: 10px;
    grid-area: logo;
    align-self: center;
    justify-self: center;
}
#page-header>.logo>img {
    display: block;
    margin: 0 auto; /* central on mobile */
}

#page-header>.search-area {
    display: none;
    grid-area: search;
    align-self: center;
    justify-self: end;
}

#page-header>nav {
    grid-area: nav;
    justify-self: start;
}

@media (min-width: 768px) {
    #page-header {
        grid-template-areas: "logo search" "logo nav";
        grid-template-columns: 1fr 4fr;
    }
    #page-header>.logo {
        padding: 20px 0;
        grid-area: logo;
        align-self: end;
    }
    #page-header>.search-area {
        display: block;
        grid-area: search;
        align-self: center;
        justify-self: end;
    }
    #page-header>nav {
        grid-area: nav;
        justify-self: center;
    }
}

@media (min-width: 1200px) {
    #page-header {
        grid-template-areas: "logo search" "logo nav";
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 3fr 2fr;
    }
    #page-header>.logo {
        padding: 20px 0;
        grid-area: logo;
        align-self: end;
    }
    #page-header>.search-area {
        display: block;
        grid-area: search;
        align-self: center;
        justify-self: end;
    }
    #page-header>nav {
        grid-area: nav;
        justify-self: center;
    }
}


/* MAIN NAVIGATION */

.navbar {
    padding: 0;
}

.navbar-custom .navbar-nav .nav-link {
    padding: 10px;
    color: var(--tri-white);
}


/* Navbar dropdown menu */

.dropdown-menu {
    min-width: 200px;
    margin-top: 7px;
}

@media (min-width: 768px) {
    .dropdown-menu {
        left: 50%;
        right: auto;
        text-align: center;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .dropdown-menu:before {
        position: absolute;
        top: -7px;
        left: 45%;
        right: auto;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid var(--tri-white);
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
    }
}

/* Navbar active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item.current-page-ancestor .nav-link,
.navbar-custom .nav-item .nav-link:focus,
.navbar-custom .nav-item .nav-link:hover {
    color: var(--tri-green);
}

.navbar-custom .navbar-nav>li>.dropdown-menu {
    background-color: var(--tri-green);
}
.navbar-custom .navbar-nav .dropdown-menu .nav-link {
    color: var(--tri-white) !important; /* :TODO: theme.css too much !important */
}
.navbar-dark .navbar-nav .dropdown-menu .nav-link:hover,
.navbar-dark .navbar-nav .dropdown-menu .nav-link:focus {
    color: var(--tri-black) !important; /* :TODO: theme.css too much !important */
    background: transparent;
}
.navbar-custom .navbar-nav .dropdown-menu .nav-link.active,
.navbar-custom .navbar-nav .dropdown-menu .nav-link:active {
    color: var(--tri-black) !important; /* :TODO: theme.css too much !important */
}


/* MINOR NAVIGATION */

#navmenu.events-categories ul,
#navmenu.events ul,
.nav-breadcrumbs ul {
    list-style-type: none;
    list-style-image: none;
}

#navmenu.events-categories ul li,
#navmenu.events ul li,
.nav-breadcrumbs ul li {
    display: inline;
}


/* Breadcrumb nav */
.breadcrumbs {
    margin: 20px 0;
}


/* Event tag navigation menu */

#navmenu.events-categories ul,
#navmenu.events ul {
    margin: 20px auto;
    padding: 0;
}

#navmenu.events ul li a,
.pagination li a,
.page-item.active .page-link {
    padding: 10px;
    color: var(--tri-white);
    background: var(--tri-black);
}
.page-item.active .page-link {
    border: 0;
}
.page-link:hover,
.page-link:focus,
.page-link:active {
    color: var(--tri-green);
    background: var(--tri-black);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#navmenu.events ul li a:hover,
#navmenu.events ul li a:focus,
#navmenu.events ul li a:active {
    color: var(--tri-green);
    text-decoration: none;
}

#navmenu.events ul li.ccc a,
.page-item.active .page-link {
    color: var(--tri-green);
}

#navmenu.events-categories ul li a {
    padding: 2px 3px 2px 3px;
}

.nav-breadcrumbs ul li a:hover {
    text-decoration: none;
}

.nav-horizontal .current-menu-item a {
    color: var(--tri-green);
}




/* Carousel */

.carousel-caption {
    left: 7%;
}

.carousel-item {
    max-height: 700px;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 40px;
    height: 40px;
}


/* Event listing */

.event-listing {
    background-color: var(--tri-white);
}

.event-date {
    background-color: var(--tri-blue);
}



/* New tiles on mobile */

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(300px, 350px);
    grid-gap: 20px;
    -ms-flex-pack: distribute;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Landscape mobile tiles */
@media (min-width: 576px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    /* Homepage first row of 3 */
    .disclaimer + .grid .tyle:last-child {
        grid-column: span 2; /* grow to fills 2 columns */
    }
    /* Homepage events row */
    .grid + .grid + .grid .tyle:last-child {
        grid-column: span 2; /* grow to fills 2 columns */
    }
}

/* Portrait tablet tiles and wider */
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    }
    /* Homepage first row of 3 */
    .disclaimer + .grid .tyle:last-child {
        grid-column: 3; /* single column, third position */
    }
    
    /* Homepage events row */
    .grid + .grid + .grid {
        grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    }
    
    /* Youth uses 2 tiles in main content with sidebar */
    body.page-template-default .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    /* Generic Page uses 2 tiles after main content */
    body.page-template-GenericPage .grid,
    body.page-template-Rides .grid {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 20px;
        border-top: 4px solid var(--tri-green);
    }
}


/*  NEW GRID */

#front-tiles {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.tyle {
    position: relative; /* layout context for .tag */
    display: flex;
    flex-direction: column;
    justify-content: end; /* push .caption to bottom */
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    max-height: 350px;
    color: var(--tri-white);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--tri-green);
}
/* :TODO: Homepage events row */
.grid + .grid + .grid .tyle:last-child {
    justify-content: start;
    padding: 13px 20px 0 20px; /* adjusted for line-height */
    background: var(--tri-black);
}

.tyle .caption {
    padding: 13px 20px 16px 20px; /* adjusted for line-height */
    background-color: var(--tri-black);
}

.tyle .tag {
    position: absolute;
    top: 15px;
    left: 10px;
    padding: 3px 10px 3px 10px; /* adjusted for line-height */
    background-color: var(--tri-black);
}

.tyle h2,
.tyle h4,
.tyle p {
    margin: 0;
}

/* Home grid hover colours */
.tyle,
.tyle .tag,
.tyle .caption {
    transition: background 0.2s ease-in;
}
.tyle:hover,
.tyle:focus,
.tyle:active,
.tyle:hover .tag,
.tyle:focus .tag,
.tyle:active .tag,
.tyle:hover .caption,
.tyle:focus .caption,
.tyle:active .caption {
    background-color: var(--tri-green);
}


/* Home middle tiles with portrait image */

#rect-tiles.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
}

.tyle-rectangle {
    /* :TODO: remove most of this */
    flex-direction: row;
    max-height: 350px;
    background-color: var(--tri-black);
    background-size: auto 100%; /* cover the max-height */
    overflow: hidden; /* landscape mobiles and narrow tablets */
}

.tyle-rectangle .caption {
    width: calc(50% + 10px); /* half the panel and remaining half gutter */
    width: calc(100% - 250px);
}

/* MISCELLANEOUS */

/* Font Awesome in links */
a .fa {
    margin-right: 0.25em;
}

.mw50 {
    min-width: 80px;
}

/* Search box in content */
/* Used on the 404 page */
#searchform {
    width: 100%;
}


/* Accordion widget */
#heading1,
#heading2,
#heading3,
#heading4,
#heading5,
#heading6,
#heading7,
#heading8,
#heading9,
#heading10 {
    cursor: pointer;
}


/* Accordion - regular rides */

#accordion th,
#accordion td {
    width: 18%; /* 5 columns and a toggle */
    font-weight: 700;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    border-top: 1px solid white;
}
#accordion td:last-child {
    width: 10%; /* remainder */
}
#accordion td[colspan] {
    padding-top: 0;
    padding-bottom: 16px; /* account for line-height */
    font: var(--font-p);
    border-top: 0;
}

#accordion tbody + tbody tr:first-child th,
#accordion tbody + tbody tr:first-child td {
    border-top: 20px solid white; /* gutter between table sections */
}

#accordion [data-toggle="collapse"] .fa:after {
    content: '\f077';
    /* chevron-up */
}

#accordion [data-toggle="collapse"].collapsed .fa:after {
    content: '\f078';
    /* chevron-down */
}

/*
Ride grades use ski run colours
The grades are set in the HTML so the accordion could be editable.
*/
/* Grey run (default) */
#accordion tbody {
    color: var(--tri-white);
    background: var(--tri-dark);
}



/* :TODO: remove obsolete code even if it was great */
/* Regular routes modal */

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}
/* End :TODO: remove obsolete code even if it was great */



/* MAIN CONTENT */

/* Article content title */
main h1 {
    margin: 0 0 10px 0;
    padding-top: 20px;
    border-top: 4px solid var(--tri-green); /* below breadcrumb or image */
}


/* Table */

main table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

/* 1 gutter between text and each side */
main table th,
main table td {
    padding: 10px 0 10px 20px;
}

main table th:last-child,
main table td:last-child {
    padding-right: 20px;
}




/* SIDEBAR */

.sidebar {
    margin-top: 40px; /* above and below breadcrumb */
    padding-top: 1.714em; /* breadcrumb line-height */
}

.sidebar > div {
    margin: 0 0 20px 0;
    padding: 0 20px;
}

.sidebar h3 {
    margin: 0;
    padding-top: 16px; /* adjusted for line-height */
}

.sidebar p {
    margin: 0;
    padding-bottom: 12px; /* half measure of line-height */
}
.sidebar p:last-child {
    padding-bottom: 18px; /* adjusted for line-height */
}

/* :TODO: Sidebar upcoming events */



/* FOOTER */

/* Social */

.site-info .row:first-child > div {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Flickr widget */
/* :TODO: need gutter between each photo */
/* :TODO: current widget spams JS calculations, cannot control with CSS */


/* Footer logos on big tablets and wider */
/* :TODO: Split the logos and link to: /about/sponsors/ */
@media (min-width: 768px) {
    
    .abs-par {
        position: relative;
        margin: 20px auto -40px auto;
        height: 80px;
        color: var(--tri-black);
    }
    
    .abs-par img {
        max-height: 80px;
    }

    .abs-chi {
        padding-top: 80px;
        background: var(--tri-black);
    }
    
}


/* end of footer logos */


/* DO NOT EDIT BELOW */


/*
* Use existing Bootstrap 4 classes and
* variables to extend - override CF7 style
*
* Useful CF7 classes:
* .wpcf7 the wrapper element
* .wpcf7-form
* .wpcf7-form-control
* .wpcf7-text
* .wpcf7-email
* .wpcf7-textarea
* .wpcf7-submit
*/

.wpcf7 {
    max-width: 600px;
    margin: 0 auto !important;
}

.wpcf7 .wpcf7-form label {
    width: 100%;
}

.wpcf7 .wpcf7-not-valid-tip {
    color: var(--tri-red);
}

.wpcf7 .wpcf7-validation-errors {
    color: var(--tri-red);
    border: 1px solid var(--tri-white);
}
