/* April 2019 colour variables */

:root {
    --tri-green: #1ea02d;
    --tri-red: #c1001f;
    --tri-black: #1f1e21;
    --tri-dark: #3c4645;
    --tri-grey: #7d7d7d;
    --tri-white: #ecf1f4;
    --tri-blue: #f0f; /* :TODO: #4A90E2 */
}


/* Colour classes */

.b-dark {
    background-color: var(--tri-dark);
}

.t-dark {
    color: var(--tri-dark);
}

.b-blue {
    background-color: var(--tri-blue);
}

.t-blue {
    color: var(--tri-blue);
}

.b-green {
    background-color: var(--tri-green);
}

.b-red {
    background-color: var(--tri-red);
}

.b-black {
    background-color: var(--tri-black);
}

/* :TODO: only use .b-* colour classes as .bg- classes use !important */
.bg-dark,
.bg-secondary {
    background-color: var(--tri-dark) !important;
}

/* Tile colours */

.tile-text {
    color: var(--tri-white);
}

.tile-text:hover {
    color: var(--tri-white);
    text-decoration: none;
}

.p-link {
    color: var(--tri-green);
}

.p-link-dark {
    color: var(--tri-dark);
}

.p-link-dark:hover {
    color: var(--tri-black);
}

.p-link:hover {
    color: var(--tri-blue);
}

.w-link {
    color: var(--tri-white);
    text-decoration: underline;
}

.w-link:hover {
    color: var(--tri-green);
}

.card {
    background-color: rgba(245, 245, 245, 0.7);
    color: var(--tri-dark);
}


/* April 2019 font variables */
/* https://fonts.google.com/specimen/Karla?selection.family=Karla:700|Montserrat:400,600 */

:root {
    --font-heading: 'Karla', sans-serif;
    --font-body: 'Montserrat', sans-serif;
    --font-h1: 700 40px/40px var(--font-heading); /* bold */
    --font-h2: 700 34px/34px var(--font-heading);
    --font-h3: 700 26px/36px var(--font-heading);
    --font-h4: 700 24px/28px var(--font-heading);
    --font-h5: 700 20px/28px var(--font-heading);
    --font-h6: 700 18px/24px var(--font-heading);
    --font-p-highlight: 400 18x/24px var(--font-body); /* normal */
    --font-p: 400 14px/24px var(--font-body);
    --font-link: 600 14px/24px var(--font-body); /* semi-bold */
}


/*
Apply fonts:

Base
Header
Carousel
Tile
Youth Tile
Sidebar
Article
Footer
*/

/* Base font */
html,
body {
    font: var(--font-p);
    color: var(--tri-black);
    background: var(--tri-white);
}

/* Header search box */
/* Header search button (icon) */
/* Header nav */
.nav-link {
    font: var(--font-h6);
}
/* Header nav menu */

/* Carousel tag */
.carousel-item h5 {
    font: var(--font-h6);
}
/* Carousel title */
.slide-text {
    font: var(--font-h1);
}
/* Carousel description */
.card-text {
    font: var(--font-p-highlight);
}
/* Home mission statement */
/* :TODO: id should be class */
.disclaimer h5 {
    font: var(--font-h3);
}
/* Home tile tag */
.tile-text h5 {
    font: var(--font-h6);
}
/* Home tile title */
.tile-text h4,
.tile-text h5+h5 {
    font: var(--font-h4);
}
/* Home tile description */
.tile-text p {
    font: var(--font-p-highlight);
}
/* Home tile event item */
/* :TODO: match HTML with sidebar event item */
.tile-text .border-bottom h5 {
    font: var(--font-h6);
}


/* Youth tile tag */
/* :TODO: Tile content HTML should match home tiles */
.tile-text span {
    font: var(--font-h6);
}
/* Youth tile title */
/* :TODO: Tile content HTML should match home tiles */
.tile-text div+div h5 {
    font: var(--font-h4);
}
/* Youth tile description */
/* :TODO: Tile content HTML should match home tiles */
.tile-text span {
    font: var(--font-h6);
}

/* Breadcrumb */
.breadcrumbs {
    /* base style */
}
.breadcrumbs a {
    font: var(--font-link);
}

/* Section content link */
.entry-content a {
    font: var(--font-link);
}

/* Sidebar headings */
/* :TODO: use a class for selecting the sidebar */
main .col-md-4 h3 {
    font: var(--font-h4);
}
/* Sidebar event item */
main .col-md-4 h5 {
    font: var(--font-h6);
}

/* Article title */
h1 {
    font: var(--font-h2);
}
/* Article content link */
/* :TODO: Article tiles should have a separate wrapper, after the content */
main h2 > a,
main h3 > a,
main h4 > a,
main p > a,
main li > a {
    font: var(--font-link);
}
/* Article tiles after content */
/* :TODO: Tile content HTML should match home tiles */
main .tile-text h3 {
    font: var(--font-h4);
}

/* Footer heading */
/* :TODO: use heading element for Flickr and Strava and Sponsor */
footer h3,
footer .col-md-5 > p:first-child span,
footer .mt-5 p {
    font: var(--font-h5);
}
/* Footer link */


/* End: Apply font */


/* Wrapper */

.full_dark {
    width: 100%;
    background-color: var(--tri-black);
}

#carousel.full_dark {
    background-image: url("../assets/gfx/bp.png");
    background-repeat: repeat-x;
}

.full_dark>* {
    margin: 0 auto;
    max-width: 1200px;
}


/* Header area */

#page-header {
    display: grid;
    grid-template-areas: "logo" "nav";
}

#page-header>.logo {
    padding: 10px;
    grid-area: logo;
    align-self: center;
    justify-self: center;
}

#page-header>.search-area {
    display: none;
    grid-area: search;
    align-self: center;
    justify-self: end;
}

#page-header>nav {
    grid-area: nav;
    justify-self: start;
}

@media (min-width: 768px) {
    #page-header {
        grid-template-areas: "logo search" "logo nav";
        grid-template-columns: 1fr 4fr;
    }
    #page-header>.logo {
        padding: 20px;
        grid-area: logo;
        align-self: end;
    }
    #page-header>.search-area {
        display: block;
        grid-area: search;
        align-self: center;
        justify-self: end;
    }
    #page-header>nav {
        grid-area: nav;
        justify-self: center;
    }
}

@media (min-width: 1200px) {
    #page-header {
        grid-template-areas: "logo search" "logo nav";
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 3fr 2fr;
    }
    #page-header>.logo {
        padding: 20px;
        grid-area: logo;
        align-self: end;
    }
    #page-header>.search-area {
        display: block;
        grid-area: search;
        align-self: center;
        justify-self: end;
    }
    #page-header>nav {
        grid-area: nav;
        justify-self: center;
    }
}


/* MAIN NAVIGATION */

.navbar {
    padding: 0;
}

.navbar-custom .navbar-nav .nav-link {
    padding: 10px;
    color: var(--tri-white);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: var(--tri-green);
}

.navbar-custom .navbar-nav>li>.dropdown-menu {
    background-color: var(--tri-green);
}


/* Navbar dropdown menu */

.dropdown-menu {
    min-width: 200px;
    margin-top: 7px;
}

@media (min-width: 768px) {
    .dropdown-menu {
        left: 50%;
        right: auto;
        text-align: center;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .dropdown-menu:before {
        position: absolute;
        top: -7px;
        left: 45%;
        right: auto;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid var(--tri-white);
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
    }
}



/* Carousel */

.carousel-caption {
    left: 7%;
}

.carousel-item {
    max-height: 700px;
}

.bg-swash {
    color: var(--tri-white);
    background-image: url("http://ssdserver1.layerip.com/~pengecyc/wordpress/wp-content/uploads/2018/09/Brush-background.png");
    background-repeat: no-repeat;
    background-size: 222px 50px;
    height: 60px;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 40px;
    height: 40px;
}


/* Event listing */

.event-listing {
    background-color: var(--tri-white);
}

.event-date {
    background-color: var(--tri-blue);
}


/* Event tag navigation menu */

#navmenu.events-categories ul,
#navmenu.events ul,
.nav-breadcrumbs ul {
    list-style-type: none;
    list-style-image: none;
}

#navmenu.events-categories ul li,
#navmenu.events ul li,
.nav-breadcrumbs ul li {
    display: inline;
}

#navmenu.events ul li a {
    background: var(--tri-dark);
    margin: 3px;
    padding: 5px 5px 5px 5px;
    color: white;
}

#navmenu.events ul li.ccc a {
    color: var(--tri-green);
}

#navmenu.events-categories ul li a {
    padding: 2px 3px 2px 3px;
}

.nav-breadcrumbs ul li a:hover {
    text-decoration: none;
}

.nav-horizontal .current-menu-item a {
    color: var(--tri-green);
}


/* Full width 3x3 grid */

.tile {
    position: relative;
}

.tile-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    max-width: 500px;
}

.ti {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.outer-tile {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 350px;
    max-height: 350px;
}

.inner-tile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.outer-tile:hover .inner-tile {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.parent-tile:hover .grid-tile,
.parent-tile:focus .grid-tile {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.grid-tile {
    background-color: var(--tri-green);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: 350px;
    max-height: 350px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(300px, 400px);
    grid-gap: 10px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

@media (min-width: 576px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


/*  NEW GRID */

#front-tiles.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 5px;
}

#rect-tiles.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 5px;
}


/* 350x350 tiles */

.tyle {
    color: var(--tri-white);
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    max-height: 350px;
    max-width: 350px;
    background-repeat: no-repeat;
    background-position: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tyle-rectangle {
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    max-width: 550px;
    max-height: 350px;
    background-color: var(--tri-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tyle-rectangle>img {
    max-width: 100%;
    height: auto;
}

.caption {
    width: 100%;
    padding: 8px;
    background-color: var(--tri-dark);
}

.tyle-tag {
    padding: 10px;
}

.tag {
    padding: 5px;
    background-color: var(--tri-dark);
}


/* MISCELLANEOUS */

.notFull {
    max-width: 1200px;
}

.mw50 {
    min-width: 80px;
}

#searchform {
    width: 100%;
}

#heading1,
#heading2,
#heading3,
#heading4,
#heading5,
#heading6,
#heading7,
#heading8,
#heading9,
#heading10 {
    cursor: pointer;
    color: var(--primary);
}


/* Accordion - regular rides */

[data-toggle="collapse"] .fa:after {
    content: '\f077';
    /* chevron-up */
}

[data-toggle="collapse"].collapsed .fa:after {
    content: '\f078';
    /* chevron-down */
}


/* Regular routes modal */

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}


/* footer logos */

.abs-par {
    position: relative;
    height: 80px;
}

.abs-chi {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: auto;
}


/* end of footer logos */


/* DO NOT EDIT BELOW */


/*
* Use existing Bootstrap 4 classes and
* variables to extend - override CF7 style
*
* Useful CF7 classes:
* .wpcf7 the wrapper element
* .wpcf7-form
* .wpcf7-form-control
* .wpcf7-text
* .wpcf7-email
* .wpcf7-textarea
* .wpcf7-submit
*/

.wpcf7 {
    max-width: 600px;
    margin: 0 auto !important;
}

.wpcf7 .wpcf7-form label {
    width: 100%;
}

.wpcf7 .wpcf7-not-valid-tip {
    color: var(--tri-red);
}

.wpcf7 .wpcf7-validation-errors {
    color: var(--tri-red);
    border: 1px solid var(--tri-white);
}
